openapi: 3.1.0
info:
  title: iFlash Open API
  description: >
    Chào mừng bạn đến với tài liệu kỹ thuật iFlash Open API. Nếu có bất kỳ câu
    hỏi nào, vui lòng liên hệ qua email.


    Ngôn ngữ: <button id="btn-vi" type="button">Tiếng Việt</button> <button
    id="btn-en" type="button">English</button>
  version: 1.0.0
  contact:
    email: cskh@tcbs.com.vn
    url: https://developers.tcbs.com.vn
  x-logo:
    url: /image/logo.png
    altText: Tcbs logo
servers:
  - url: https://openapi.tcbs.com.vn
    description: Production
  - url: https://openapisit.tcbs.com.vn
    description: SIT
paths:
  /gaia/v1/oauth2/openapi/token:
    post:
      security: []
      operationId: get_token
      tags:
        - authen
      summary: 2.1.1. Trao đổi API Key để lấy JWT Token
      description: ""
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequestDto"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponseDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponseErrorDto"
  /akhlys/v1/accounts/{accountNo}/orders:
    post:
      operationId: order
      tags:
        - order_stock_normal
      summary: 5.1.1. Đặt lệnh thường
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceOrderExternalDto"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceOrderResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /akhlys/v1/accounts/{accountNo}/orders/{orderId}:
    put:
      operationId: update_order_stock_normal
      tags:
        - update_order_stock_normal
      summary: 5.2.1. Sửa lệnh thường
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: orderId
          in: path
          description: orderId
          required: true
          schema:
            type: string
            example: "9202205230000324355"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrderRequestDto"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrderResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /akhlys/v1/accounts/{accountNo}/cancel-orders:
    put:
      operationId: cancel_order
      tags:
        - cancel_order_stock_normal
      summary: 5.3.1. Huỷ lệnh thường
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOrderRequestDto"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelOrderResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /aion/v1/accounts/{accountNo}/orders:
    get:
      operationId: get_order
      tags:
        - get_order_stock_normal
      summary: 5.4.1. Lấy sổ lệnh
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderSearchResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /aion/v1/accounts/{accountNo}/orders/{orderID}:
    get:
      operationId: get_order_by_order_id
      tags:
        - get_order_stock_normal
      summary: 5.4.2. Lấy sổ lệnh theo Order ID
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: orderID
          in: path
          description: Order ID
          required: true
          schema:
            type: string
            example: "9202110200000060280"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderSearchResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /aion/v1/accounts/{accountNo}/matching-details:
    get:
      operationId: get_command_match_information
      tags:
        - get_order_stock_normal
      summary: 5.4.3. Lấy thông tin khớp lệnh
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommandMatchInformationResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /ws/aither:
    get:
      operationId: get_command_match_information_wss
      tags:
        - get_order_stock_normal
      summary: 5.4.4. Lấy thông tin khớp lệnh (realtime)
      x-hideTryItPanel: false
      security:
        - null
      description: |
        File hướng dẫn kết nối: [Websocket_thay_doi_thong_tin_lenh_co_so_1.0.0.pdf](/file/Websocket_thay_doi_thong_tin_lenh_co_so_1.0.0.pdf)
  /aion/v1/accounts/{accountNo}/ppse:
    get:
      operationId: get_purchasing_power
      tags:
        - purchasing_power_stock_normal
      summary: 5.5.1. Lấy sức mua
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /aion/v1/accounts/{accountNo}/ppse/{symbol}:
    get:
      operationId: get_purchasing_power_symbol
      tags:
        - purchasing_power_stock_normal
      summary: 5.5.2. Lấy sức mua theo mã
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: symbol
          in: path
          description: Mã chứng khoán
          required: true
          schema:
            type: string
            example: FPT
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /aion/v1/accounts/{accountNo}/ppse/{symbol}/{price}:
    get:
      operationId: get_purchasing_power_symbol_price
      tags:
        - purchasing_power_stock_normal
      summary: 5.5.3. Lấy sức mua theo mã, giá
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: symbol
          in: path
          description: Mã chứng khoán
          required: true
          schema:
            type: string
            example: FPT
        - name: price
          in: path
          description: Giá tính sức mua
          required: true
          schema:
            type: string
            example: "52000"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /aion/v1/customers/{custodyId}/accounts:
    get:
      operationId: customer_quota_margin
      tags:
        - purchasing_power_stock_normal
      summary: 5.5.4. Hạn mức margin
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: custodyId
          in: path
          description: Số tài khoản
          required: true
          schema:
            type: string
            example: 105C738764 #pragma: allowlist secret
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MarginQuotaResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /hydros/v1/account/{accountNo}/risk:
    get:
      operationId: margin_account_infor
      tags:
        - purchasing_power_stock_normal
      summary: 5.5.5. Tổng nợ gốc, Tổng nợ lãi, Rtt thực tế, Tỷ lệ ký quỹ ban đầu, Tỷ
        lệ duy trì, Tỷ lệ cảnh báo
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tài khoản margin
          required: true
          schema:
            type: string
            example: 0001G75216
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MarginAccountInforResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /campaign-management/v1/margin/subscription/{accountNo}/addons/detail:
    get:
      operationId: supplementary_loan_package
      tags:
        - purchasing_power_stock_normal
      summary: 5.5.6. Gói vay bổ trợ
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tài khoản margin
          required: true
          schema:
            type: string
            example: 0001G75216
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupplementaryLoanPackageResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khaos/v1/loan/{accountNo}:
    get:
      operationId: loan_list
      tags:
        - purchasing_power_stock_normal
      summary: 5.5.7. Danh sách khoản vay
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tài khoản margin
          required: true
          schema:
            type: string
            example: 0001G75216
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoanResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /aion/v1/accounts/{accountNo}/se:
    get:
      operationId: get_asset
      tags:
        - get_asset_stock_normal
      summary: 5.6.1. Tra cứu tài sản cổ phiếu theo tiểu khoản
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeInfoDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /aion/v1/accounts/{accountNo}/cashInvestments:
    get:
      operationId: get_cash_investment
      tags:
        - get_asset_stock_normal
      summary: 5.6.2. Lấy thông tin số dư tiền
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CashInvestmentResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /erebos/v2/digital/trans-hist-cashStatements:
    get:
      operationId: trans_hist_cash_statements
      tags:
        - get_asset_stock_normal
      summary: 5.6.3. Thông tin sao kê tiền
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountNo
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: fromDate
          in: path
          description: Từ ngày giao dịch
          required: true
          schema:
            type: string
            example: 2025-01-01
        - name: toDate
          in: path
          description: đến ngày giao dịch
          required: true
          schema:
            type: string
            example: 2025-01-15
        - name: pageSize
          in: path
          description: Page size
          required: true
          schema:
            type: string
            example: "25"
        - name: pageIndex
          in: path
          description: Page no
          required: true
          schema:
            type: string
            example: "1"
        - name: transactionCode
          in: path
          description: Loại giao dịch
          required: true
          schema:
            type: string
            example: "1153"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransHistCashStatementsResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /erebos/v2/digital/margin-info:
    get:
      operationId: margin_info
      tags:
        - get_asset_stock_normal
      summary: 5.6.4. Tra cứu nợ
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: acctno
          in: path
          description: Số tiểu khoản
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: fromdate
          in: path
          description: Từ ngày
          required: true
          schema:
            type: string
            example: 2025-01-01
        - name: toDate
          in: path
          description: đến ngày
          required: true
          schema:
            type: string
            example: 2025-01-15
        - name: page
          in: path
          description: Page No
          required: true
          schema:
            type: string
            example: "1"
        - name: size
          in: path
          description: Page size
          required: true
          schema:
            type: string
            example: "25"
        - name: custodycd
          in: path
          description: Số tài khoản
          required: true
          schema:
            type: string
            example: 105C209414
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarginInfoResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /eros/v2/get-profile/by-username/{custodyCode}:
    get:
      operationId: get_sub_account_information
      tags:
        - account
      summary: 3.1.1. Lấy thông tin tiểu khoản
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: custodyCode
          in: path
          description: Số tài khoản
          required: true
          schema:
            type: string
            example: 105C334455
        - name: fields
          in: query
          description: Danh sách thông tin cần lấy
          required: true
          schema:
            type: string
            example: basicInfo,personalInfo,bankSubAccounts,bankAccounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInformationResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/account/status:
    get:
      operationId: total_cash_derivative
      tags:
        - total_cash_derivative
      summary: 6.1.1. Tổng quan tiền, ký quỹ của phái sinh
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountId
          in: query
          description: số tài khoản lưu kí
          required: true
          schema:
            type: string
            example: 105C031402
        - name: subAccountId
          in: query
          description: Tiểu khoản phái sinh
          required: true
          schema:
            type: string
            example: 105C031402A
        - name: getType
          in: query
          description: |
            - `0`: Lấy toàn bộ
            - `1`: Chỉ lấy tiền
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.Portfolio.AccountStatus
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/TotalCashDerivativeResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/account/portfolio/position/close:
    get:
      operationId: asset_position_close_derivative
      tags:
        - asset_derivative
      summary: 6.2.1. Tài sản, vị thế đóng
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountId
          in: query
          description: số tài khoản lưu kí
          required: true
          schema:
            type: string
            example: 105C031402
        - name: subAccountId
          in: query
          description: Tiểu khoản phái sinh
          required: true
          schema:
            type: string
            example: 105C031402A
        - name: symbol
          in: query
          description: Mã chứng khoán
          required: false
          schema:
            type: string
            example: ""
        - name: pageNo
          in: query
          description: Số trang
          required: true
          schema:
            type: number
            example: "1"
        - name: pageSize
          in: query
          description: Số dòng
          required: true
          schema:
            type: number
            example: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.Portfolio.PositionClose
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: null
                  oID:
                    type: string
                    example: Chi tiết lỗi
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AssetPositionCloseDerivativeResponse"
                    example:
                      - symbol: TOTAL
                        side: ""
                        openPrice: 0
                        closePrice: 0
                        closePosition: 0
                        fee: 11400
                        tax: 15275
                        closeVM: 500000
                        unrealize: 500000
                        closePC: 0
                        time: ""
                      - symbol: VN30F2103
                        side: B
                        openPrice: 1175
                        closePrice: 0
                        closePosition: 0/1
                        fee: 5700
                        tax: 7637.5
                        closeVM: 0
                        unrealize: 500000
                        closePC: 0
                        time: ""
                      - symbol: VN30F2103
                        side: S
                        openPrice: 1180
                        closePrice: 1175
                        closePosition: 1/1
                        fee: 5700
                        tax: 7637.5
                        closeVM: 500000
                        unrealize: 0
                        closePC: 3.26
                        time: 11:56:24
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/account/portfolio/status:
    get:
      operationId: asset_position_open_derivative
      tags:
        - asset_derivative
      summary: 6.2.2. Tài sản, vị thế mở
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: accountId
          in: query
          description: số tài khoản lưu kí
          required: true
          schema:
            type: string
            example: 105C031402
        - name: subAccountId
          in: query
          description: Tiểu khoản phái sinh
          required: true
          schema:
            type: string
            example: 105C031402A
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.Portfolio.PortfolioStatus2
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                  rs:
                    type: string
                    example: null
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AssetPositionOpenDerivativeResponse"
                    example:
                      - symbol: VN30F2303
                        im: 13%
                        deliver: "4"
                        receive: "11"
                        net: 7
                        side: L
                        account: 000111A
                        wasp: 1120
                        wapb: 1159.2
                        lastPrice: 1198.4
                        imValue: 109054400
                        vmValue: 70560000
                        mrValue: 109054400
                        duedate: 29/06/2021
                        netoffvol: 7
                        avg_remain: 1120
                        vm_remain: 54880000
                        pc_remain: "53.85"
                        stoploss: ""
                        takeprofit: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/order/in-day:
    get:
      operationId: list_order_normal_derivative
      tags:
        - get_order_derivative
      summary: 6.3.1. Tra cứu sổ lệnh thường
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: pageNo
          in: query
          description: Trang số
          required: true
          schema:
            type: number
            example: "1"
        - name: pageSize
          in: query
          description: Số phần tử trong trang
          required: true
          schema:
            type: number
            example: "20"
        - name: accountId
          in: query
          description: số tài khoản lưu kí
          required: true
          schema:
            type: string
            example: 105C031402
        - name: symbol
          in: query
          description: |
            filter theo mã hợp đồng và theo vị thế:
            - `ALL,ALL`: Lọc ALL
            - `VN30F2303,B`: Lọc theo mã
            - `ALL,B`: Lọc theo L/S
          required: true
          schema:
            type: string
            example: ALL,ALL
        - name: refId
          in: query
          description: Ref id của lệnh
          required: false
          schema:
            type: string
            example: H.7387641765855363489
        - name: orderType
          in: query
          description: |
            filter theo Loại lệnh:
            - ``: Tất cả
            - `3`: Arbitrage
            - `4`: SL/TP
            - `5`: ForceClose
            - `6`: Thường
          required: true
          schema:
            type: string
            example: ""
        - name: status
          in: query
          description: |
            filter theo trạng thái:
            - `0`: Tất cả
            - `1`: Chờ khớp
            - `2`: Đã khớp
          required: true
          schema:
            type: string
            example: "0"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.Order.IndayOrder
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ListOrderNormalDerivativeResponse"
                    example:
                      - orderNo: "37"
                        pk_orderNo: "7625908"
                        refId: H.7387641765855363489
                        orderTime: 13:34:47
                        accountCode: 000112A
                        side: S
                        symbol: VN30F2303
                        volume: "1"
                        showPrice: MTL (1198)
                        matchVolume: "1"
                        status: PM
                        orderStatus: "4"
                        channel: I
                        group: FU
                        cancelTime: ""
                        isCancel: "0"
                        isAmend: "0"
                        info: ""
                        maxPrice: "0"
                        matchValue: "119800"
                        quote: Y
                        autoType: ""
                        product: ""
                        orderType: N
                        source: SYS
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/order/condition/detail:
    get:
      operationId: list_order_condition_derivative
      tags:
        - get_order_derivative
      summary: 6.3.2. Tra cứu sổ lệnh điều kiện
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: pageNo
          in: query
          description: Trang số
          required: true
          schema:
            type: string
            example: "1"
        - name: PageSize
          in: query
          description: Số phần tử trong trang
          required: true
          schema:
            type: string
            example: "25"
        - name: accountId
          in: query
          description: số tài khoản lưu kí
          required: true
          schema:
            type: string
            example: 105C031402
        - name: subAccountID
          in: query
          description: Số tài khoản phái sinh
          required: true
          schema:
            type: string
            example: 105C031402A
        - name: orderStatus
          in: query
          description: |
            filter theo trạng thái:
            - `0`: Tất cả
            - `1`: Chờ kích hoạt
            - `2`: Đã kích hoạt
            - `3`: Từ chối
          required: true
          schema:
            type: string
            example: "0"
        - name: orderType
          in: query
          description: |
            filter theo loại lệnh:
            - ``: Tất cả
            - `3`: Arbitrage
            - `4`: SL/TP
            - `5`: stopOrder
          required: true
          schema:
            type: string
            example: ALL,ALL
        - name: Symbol
          in: query
          description: |
            filter theo mã HĐTL và theo vị thế:
            - `ALL,ALL`: Lọc ALL
            - `VN30F2303,B`: Lọc theo mã
            - `ALL,B`: Lọc theo L/S
          required: true
          schema:
            type: string
            example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.Order.ConditionOrder
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ListOrderConditionDerivativeResponse"
                    example:
                      - orderNo: "1"
                        groupOrder: "463502"
                        pk_orderNo: "463504"
                        accountCode: 000112A
                        side: B
                        symbol: VN30F2303
                        showPrice: "1190.5"
                        volume: "2"
                        condition: ""
                        result: "0"
                        active_time: ""
                        send_time: 14:01:01
                        cancel_time: ""
                        group: FU
                        channel: I
                        maxPrice: ""
                        soPrice: "1190.5"
                        orderType: SL
                        from_time: 29/04/2021
                        exp_time: 29/04/2021
                        status: "0"
                        details: ""
                        notes: SL/TP
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /ws/nesoi:
    get:
      operationId: get_command_match_information_derivative_wss
      tags:
        - get_order_derivative
      summary: 6.3.3. Lấy thông tin khớp lệnh (realtime)
      x-hideTryItPanel: false
      security:
        - null
      description: |
        File hướng dẫn kết nối: [Websocket_thay_doi_thong_tin_lenh_phai_sinh_1.0.0.pdf](/file/Websocket_thay_doi_thong_tin_lenh_phai_sinh_1.0.0.pdf)
  /khronos/v1/order/place:
    post:
      operationId: order_normal_derivative
      tags:
        - order_derivative
      summary: 6.4.1. Đặt lệnh thường
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderNormalDerivativeRequestDTO"
      description: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.newOrder
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrderNormalDerivativeResponse"
                    example:
                      - symbol: VN30F2104
                        shareStatus: ""
                        status: P
                        msg_type: 1I
                        showPrice: "1198.7"
                        orderTime: 15:52:48
                        type: I
                        accountCode: 170929A
                        orderNo: "17"
                        market: ""
                        matchVolume: "0"
                        side: B
                        volume: "1"
                        pk_orderNo: "7625320"
                        channel: I
                        refID: "17"
                        group: FU
                        accType: C
                        quote: G
                        autoType: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/order/condition/place:
    post:
      operationId: order_condition_derivative
      tags:
        - order_derivative
      summary: 6.4.2. Đặt lệnh điều kiện
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderConditionDerivativeRequestDTO"
      description: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.newOrder
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrderConditionDerivativeResponseDTO"
                    example:
                      - symbol: VN30F2110
                        shareStatus: ""
                        status: P
                        msg_type: 1I
                        showPrice: "1504.4"
                        orderTime: 20:16:57
                        type: I
                        accountCode: 100159A
                        orderNo: 1
                        market: ""
                        matchVolume: 0
                        side: B
                        volume: "1"
                        pk_orderNo: "7843961"
                        channel: D
                        refID: "1"
                        group: FU
                        accType: C
                        quote: G
                        autoType: ""
                        product: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/order/change:
    post:
      operationId: edit_order_normal_derivative
      tags:
        - edit_order_derivative
      summary: 6.5.1. Sửa lệnh thường
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditOrderNormalDerivativeRequestDTO"
      description: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.changeOrder
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EditOrderNormalDerivativeResponseDTO"
                    example:
                      - orderNo: 9
                        msg_type: 1P
                        status: PC
                        showPrice: "1290.0"
                        volume: "4"
                        pk_orderNo: 20029858
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v2/order/condition/change:
    post:
      operationId: edit_order_condition_derivative
      tags:
        - edit_order_derivative
      summary: 6.5.2. Sửa lệnh điều kiện
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditOrderConditionDerivativeRequestDTO"
      description: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.Order.ChangeConditionOrder
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EditOrderConditionDerivativeResponseDTO"
                    example:
                      - showPrice: "1453.9"
                        price: "1362.2"
                        volume: "1"
                        pkOrderNo: "901943"
                        notes: Stop order
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/order/cancel:
    post:
      operationId: cancel_order_normal_derivative
      tags:
        - cancel_order_derivative
      summary: 6.6.1. Huỷ lệnh thường
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOrderNormalDerivativeRequestDTO"
      description: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.changeOrder
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CancelOrderNormalDerivativeResponseDTO"
                    example:
                      - orderNo: 1
                        msg_type: 1C
                        status: PW
                        pk_orderNo: 7625368
                        cancelTime: 16:20:15
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/order/condition/cancel:
    post:
      operationId: cancel_order_condition_derivative
      tags:
        - cancel_order_derivative
      summary: 6.6.2. Huỷ lệnh điều kiện
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOrderConditionDerivativeRequestDTO"
      description: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.cancelActivatedOrder
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CancelOrderConditionDerivativeResponseDTO"
                    example: []
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /physis/v1/stock/transfer:
    post:
      operationId: transfer_between_subaccount
      tags:
        - money
      summary: 4.1.1. Chuyển tiền nội bộ
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferBetweenSubaccountRequestDTO"
      description: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "200"
                    description: Code trả về, 200 là thành công, khác 200 là lỗi
                  message:
                    type: string
                    example: OK
                    description: Nội dung trả về
                example:
                  code: "200"
                  message: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/cash/withdraw/update:
    post:
      operationId: withdrawal_derivative
      tags:
        - money
      summary: 4.2.1. Rút ký quỹ
      x-hideTryItPanel: false
      description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WithdrawalDerivativeRequestDTO"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: ""
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    example: null
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /khronos/v1/cash/deposit/update:
    post:
      operationId: deposit_derivative
      tags:
        - money
      summary: 4.2.2. Nộp ký quỹ
      x-hideTryItPanel: false
      description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepositDerivativeRequestDTO"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: ""
                    description: Loại bút toán
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example: null
                    description: Chi tiết lỗi
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DepositDerivativeResponseDTO"
                    example:
                      transactionId: CA330E033D3BD113E053EE02070AED89 #pragma: allowlist secret
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /tartarus/v1/derivatives:
    get:
      operationId: get_order
      tags:
        - market_information_derivative
      summary: 6.7.1. Thông tin mã, giá
      x-hideTryItPanel: false
      description: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MarketInformationDerivativeResponseDTO"
                      example:
                        symbol: VN30F2412
                        ceilPrice: 1614.6
                        floorPrice: 1403.4
                        refPrice: 1509
                        bidPrice01: 1499.5
                        bidPrice02: 1499.3
                        bidPrice03: 1499.2
                        bidQtty01: 1
                        bidQtty02: 3
                        bidQtty03: 1
                        offerPrice01: 1500.5
                        offerPrice02: 1500.7
                        offerPrice03: 1500.8
                        offerQtty01: 1
                        offerQtty02: 1
                        offerQtty03: 1
                        matchPrice: 1500.6
                        matchQtty: 1
                        change: -8.4
                        changePercent: -0.5566600397614314
                        open: 1508
                        high: 1509.4
                        low: 1497
                        totalVol: 370
                        openVol: 897
                        buyForeignQtty: 30
                        sellForeignQtty: 58
                        expiryDate: 18/11/2021
                        avg: 150417189.189189
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /tartarus/v1/tickerCommons:
    get:
      operationId: get_order
      tags:
        - market_information_stock_normal
      summary: 5.7.1. Thông tin mã, giá
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: tickers
          in: query
          description: Danh sách mã cổ phiếu (Không dùng kết hợp với query param index)
          required: false
          schema:
            type: string
            example: FPT,MWG,VNM
        - name: index
          in: query
          description: |
            Rổ chứng khoán: 
            - `1`: Hose
            - `2`: VN30
            - `3`: HNX
            - `4`. HNX30
            - `5`: Upcom
            - `10`:Midcap
            - `11`:Vn100
            - `12`:Vnallshare
            - `13`:VNsmallcap
            - `14`:VNxallshare
            - `15`:Vn50
            - `16`:Vnsi
          required: false
          schema:
            type: number
            example: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MarketInformationStockNormalResponseDTO"
                      example:
                        symbol: FPT
                        ceilPrice: 106100
                        floorPrice: 92300
                        refPrice: 99200
                        bidPrice01: 98700
                        bidPrice02: 98600
                        bidPrice03: 98500
                        bidQtty01: 11300
                        bidQtty02: 56800
                        bidQtty03: 45600
                        offerPrice01: 98800
                        offerPrice02: 98900
                        offerPrice03: 99000
                        offerQtty01: 100
                        offerQtty02: 23200
                        offerQtty03: 56100
                        matchPrice: 98800
                        matchQtty: 100
                        change: -400
                        changePercent: -0.4032258064516129
                        open: 99200
                        avg: 98800
                        high: 99200
                        low: 98500
                        totalVol: 833900
                        totalVal: 82409370000
                        buyForeignQtty: 647300
                        sellForeignQtty: 648500
                        room: 84
                        indexNumber: 1
                  tradingDate:
                    type: string
                    example: 29/10/2024
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /ws/thesis/v1/stream/normal:
    get:
      operationId: websocket_stock_price_normal
      tags:
        - market_information_stock_normal
      summary: 5.7.2. Bảng giá cơ sở
      x-hideTryItPanel: false
      security:
        - null
      description: >
        File hướng dẫn kết nối:
        [Websocket_bang_gia_1.0.0.pdf](/file/Websocket_bang_gia_1.0.0.pdf)
  /tartarus/v1/tickerSnaps:
    get:
      operationId: information_foreign_index
      tags:
        - market_information_stock_normal
      summary: 5.7.3. Thông tin room nước ngoài
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: index
          in: query
          description: |
            Rổ chứng khoán: 
            - `1`: Hose
            - `2`: VN30
            - `3`: HNX
            - `4`. HNX30
            - `5`: Upcom
            - `10`:Midcap
            - `11`:Vn100
            - `12`:Vnallshare
            - `13`:VNsmallcap
            - `14`:VNxallshare
            - `15`:Vn50
            - `16`:Vnsi
          required: false
          schema:
            type: number
            example: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MarketInformationForeignIndexResponseDTO"
                      example:
                        symbol: CRE
                        ceilPrice: "30850"
                        floorPrice: "26850"
                        refPrice: "28850"
                        bidPrice01: "28750"
                        bidPrice02: "28700"
                        bidPrice03: "28650"
                        bidQtty01: "8700"
                        bidQtty02: "16200"
                        bidQtty03: "17500"
                        offerPrice01: "28800"
                        offerPrice02: "28850"
                        offerPrice03: "28900"
                        offerQtty01: "2200"
                        offerQtty02: "8600"
                        offerQtty03: "8900"
                        matchPrice: "28800"
                        matchQtty: "400"
                        change: -50
                        changePercent: -0.17331
                        avg: 28850
                        high: "29100"
                        low: "28700"
                        totalValue: "17916500000"
                        totalVolume: "620700"
                        buyForeignQtty: "3400"
                        sellForeignQtty: "40500"
                        room: "44386227"
                        open: "28900"
                  tradingDate:
                    type: string
                    example: 07/08/2025
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /tartarus/v1/putThroughSnaps:
    get:
      operationId: information_put_through_snaps
      tags:
        - market_information_stock_normal
      summary: 5.7.4. Thông tin thỏa thuận
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: floor
          in: query
          description: |
            Rổ chứng khoán: 
            - `1`: Hose
            - `2`: HNX
            - `3`: Upcom
          required: false
          schema:
            type: number
            example: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  buyAdv:
                    type: array
                    items:
                      $ref: "#/components/schemas/PTAdvertisementResponseDTO"
                      example:
                        symbol: DHT
                        price: 24300
                        vol: 50
                        time: 20231220-02:16:13.588
                        status: 1
                        color: 3
                        orderId: DHT00000000000036
                        side: B
                  sellAdv:
                    type: array
                    items:
                      $ref: "#/components/schemas/PTAdvertisementResponseDTO"
                      example:
                        symbol: TCB
                        price: 24300
                        vol: 50
                        time: 20231220-02:16:13.588
                        status: 1
                        color: 3
                        orderId: TCB00000000000036
                        side: S
                  match:
                    type: array
                    items:
                      $ref: "#/components/schemas/PTMatchResponseDTO"
                      example:
                        symbol: TCB
                        price: 23455.5
                        vol: 5000
                        val: 117275000
                        time: 20:00:03
                        accumulatedValue: 254440000
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /nyx/v1/intraday/{ticker}/his/paging:
    get:
      operationId: price_matching_history
      tags:
        - market_information_stock_normal
      summary: 5.7.5. Lịch sử giá khớp
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: ticker
          in: path
          description: Mã cổ phiếu
          required: true
          schema:
            type: string
            example: TCB
        - name: page
          in: query
          description: Số trang
          required: false
          schema:
            type: number
            min: 0
            example: "0"
        - name: size
          in: query
          description: Số dòng
          required: false
          schema:
            type: number
            min: 1
            max: 100
            example: 20
        - name: headIndex
          in: query
          description: Chỉ số đầu để phân trang ngược
          required: false
          schema:
            type: number
            example: -1
            default: -1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    example: 0
                  size:
                    type: number
                    example: 20
                  headIndex:
                    type: number
                    example: 3974
                  numberOfItems:
                    type: number
                    example: 10
                  total:
                    type: number
                    example: 3975
                  ticker:
                    type: string
                    example: TCB
                    description: Mã cổ phiếu
                  d:
                    type: string
                    example: 05/08
                    description: Ngày
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PriceMatchingHistoryResponse"
                    example:
                      - p: 33850
                        v: 100
                        cp: -650
                        rcp: 0
                        a: ""
                        ba: 6034800
                        sa: 10320100
                        hl: false
                        pcp: 0
                        t: 14:45:00
                      - p: 33850
                        v: 10000
                        cp: -650
                        rcp: 0
                        a: ""
                        ba: 6034800
                        sa: 10320100
                        hl: false
                        pcp: 0
                        t: 14:45:00
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /nyx/v1/intraday/{ticker}/bsa-ext:
    get:
      operationId: bsa_ext
      tags:
        - market_information_stock_normal
      summary: 5.7.6. Cung cầu theo ngày (15m)
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: ticker
          in: path
          description: Mã cổ phiếu
          required: true
          schema:
            type: string
            example: TCB
        - name: timeWindow
          in: query
          description: |
            Khung thời gian tính bằng phút:
            - 15
            - 60
          required: true
          schema:
            type: string
            example: "15"
        - name: tWindow
          in: query
          description: |
            Khung thời gian tính bằng phút:
            - 15
          required: true
          schema:
            type: string
            example: "15"
        - name: type
          in: query
          description: |
            Loại nhà đầu tư:
            - sheep (Nhà đầu tư cá nhân nhỏ lẻ)
            - wolf (Nhà đầu tư tổ chức vừa)
            - shark (Nhà đầu tư lớn/tổ chức lớn)
            - all (Tất cả loại nhà đầu tư)
          required: false
          schema:
            type: string
            example: all
            default: all
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                    example: TCB
                    description: Mã cổ phiếu
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SupplyAndDemand15mResponse"
                    example:
                      - bu: 1000000
                        bms: 5000000
                        bup: 0.65
                        sd: 800000
                        sms: 3000000
                        sdp: 0.35
                        bsr: 1.25
                        t: 09:15:00
                        s: 1640995200000
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /nyx/v1/intraday/{ticker}/bsa:
    get:
      operationId: bsa
      tags:
        - market_information_stock_normal
      summary: 5.7.7. Cung cầu theo ngày
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: ticker
          in: path
          description: Mã cổ phiếu
          required: true
          schema:
            type: string
            example: TCB
        - name: type
          in: query
          description: |
            Loại nhà đầu tư:
            - sheep (Nhà đầu tư cá nhân nhỏ lẻ)
            - wolf (Nhà đầu tư tổ chức vừa)
            - shark (Nhà đầu tư lớn/tổ chức lớn)
            - all (Tất cả loại nhà đầu tư)
          required: false
          schema:
            type: string
            example: all
            default: all
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                    example: TCB
                    description: Mã cổ phiếu
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SupplyAndDemandResponse"
                    example:
                      - bup: 0.65
                        sdp: 0.35
                        bsr: 1.25
                        t: 09:15
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /nyx/v1/intraday/{ticker}/bsa-month:
    get:
      operationId: bsa_month
      tags:
        - market_information_stock_normal
      summary: 5.7.8. Cung cầu theo tháng
      x-hideTryItPanel: false
      description: ""
      parameters:
        - name: ticker
          in: path
          description: Mã cổ phiếu
          required: true
          schema:
            type: string
            example: TCB
        - name: timeWindow
          in: query
          description: |
            Khung thời gian:
            - 1M
        - name: type
          in: query
          description: |
            Loại nhà đầu tư:
            - sheep (Nhà đầu tư cá nhân nhỏ lẻ)
            - wolf (Nhà đầu tư tổ chức vừa)
            - shark (Nhà đầu tư lớn/tổ chức lớn)
            - all (Tất cả loại nhà đầu tư)
          required: false
          schema:
            type: string
            example: all
            default: all
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                    example: TCB
                    description: Mã cổ phiếu
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SupplyAndDemandResponse"
                    example:
                      - bup: 0.65
                        sdp: 0.35
                        bsr: 1.25
                        t: 07/05
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /ws/ouranos/v1/stream:
    get:
      operationId: get_wscenter
      tags:
        - market_information_stock_normal
      summary: 5.7.9. Lấy thông tin lịch sử giá khớp, cung cầu (realtime)
      x-hideTryItPanel: false
      security:
        - null
      description: |
        File hướng dẫn kết nối: [Websocket_lich-su-gia_cung-cau_1.0.0.pdf](/file/Websocket_lich-su-gia_cung-cau_1.0.0.pdf)
  /ws/thesis/v1/stream/derivative:
    get:
      operationId: websocket_stock_price_derivative
      tags:
        - market_information_derivative
      summary: 6.7.2. Bảng giá phái sinh
      x-hideTryItPanel: false
      security:
        - null
      description: >
        File hướng dẫn kết nối:
        [Websocket_bang_gia_1.0.0.pdf](/file/Websocket_bang_gia_1.0.0.pdf)
components:
  schemas:
    TokenRequestDto:
      type: object
      required:
        - otp
        - apiKey
      properties:
        otp:
          type: string
          example: "111111"
          description: Mã OTP
        apiKey:
          type: string
          example: 310ebe1b-07a7-463a-860d-773dcaa31591
          description: API Key được gen trên tcinvest
      title: TokenRequestDto
    TokenResponseDto:
      type: object
      properties:
        token:
          type: string
          example: eyJ4NXQiOiJaaWpkaFpqVmlNamMwWmdfUlMyNTYiLCJhbGciOiJSUzI1NiJ9 #pragma: allowlist secret
          description: Token sau khi trao đồi từ API Key
      title: TokenResponseDto
    TokenResponseErrorDto:
      type: object
      properties:
        code:
          type: string
          example: "203074"
          description: Mã lỗi
        message:
          type: string
          example: The API Key is invalid
          description: Nội dung lỗi
      title: TokenResponseErrorDto
    PlaceOrderExternalDto:
      type: object
      required:
        - execType
        - price
        - priceType
        - quantity
        - symbol
      properties:
        execType:
          type: string
          pattern: ^(NS|NB)$
          example: NS
          description: Chiều giao dịch
          enum:
            - NS
            - NB
        price:
          type: integer
          format: int64
          example: 10000
          description: Giá giao dịch
        priceType:
          type: string
          example: LO
          description: Loại giá giao dịch
          enum:
            - LO
            - ATO
            - ATC
            - PLO
            - MP
            - MTL
            - MOK
            - MAK
        quantity:
          type: integer
          format: int64
          example: 100
          description: Khối lượng giao dịch
        symbol:
          type: string
          example: VNM
          description: Mã chứng khoán
      title: PlaceOrderExternalDto
    PlaceOrderResponse:
      type: object
      properties:
        error:
          type: string
          example: "0"
          description: Mã lỗi
        message:
          type: string
          example: Đặt lệnh thành công!
          description: Message lỗi
        orderId:
          type: string
          example: "9202205230000324355"
          description: Số hiệu lệnh phản hồi về
      title: PlaceOrderResponse
    UpdateOrderRequestDto:
      type: object
      required:
        - price
        - quantity
      properties:
        price:
          type: integer
          format: int64
          example: 10000
          description: Giá giao dịch
        quantity:
          type: integer
          format: int64
          example: 100
          description: Khối lượng giao dịch
      title: UpdateOrderRequestDto
    UpdateOrderResponse:
      type: object
      properties:
        error:
          type: string
          example: "0"
          description: Mã lỗi
        message:
          type: string
          example: Đặt lệnh thành công!
          description: Message lỗi
        orderId:
          type: string
          example: "9202205230000324355"
          description: Số hiệu lệnh phản hồi về
      title: UpdateOrderResponse
    CancelOrderRequestDto:
      type: object
      required:
        - ordersList
      properties:
        ordersList:
          type: array
          items:
            $ref: "#/components/schemas/OrderIDResponse"
          example:
            - orderID: "9202205230000324355"
      title: CancelOrderRequestDto
    CancelOrderResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/DataX"
        object:
          type: string
          example: deleteOrderList
        pageIndex:
          type: integer
          format: int32
          example: 1
        pageSize:
          type: integer
          format: int32
          example: 20
        totalCount:
          type: integer
          format: int32
          example: 20
      title: CancelOrderResponse
    Detail:
      type: object
      properties:
        deleted:
          type: string
          enum:
            - Y
            - N
        errorCode:
          type: string
          example: "0"
        errorMesage:
          type: string
          example: Giao dịch thực hiện thành công
        orderID:
          type: string
          example: "9202205230000324355"
      title: Detail
    DataX:
      type: object
      properties:
        details:
          type: array
          items:
            $ref: "#/components/schemas/Detail"
        object:
          type: string
      title: DataX
    OrderIDResponse:
      type: object
      properties:
        orderID:
          type: string
      title: OrderID
    OrderSearchResponse:
      type: object
      properties:
        object:
          type: string
          example: List
          description: Mặc định = 'List'
        pageSize:
          type: integer
          format: int64
          description: Kích thước trang
          example: "10"
        pageIndex:
          type: integer
          format: int64
          description: Index trang
          example: "1"
        totalCount:
          type: integer
          format: int64
          description: Tổng số bản ghi thỏa mãn điều kiện filter
          example: 1
        data:
          type: array
          items:
            $ref: "#/components/schemas/OrderInfo"
    OrderInfo:
      type: object
      properties:
        object:
          type: string
          example: order
          description: ""
        accountNo:
          type: string
          example: "0001008918"
          description: Số tiểu khoản
        orderID:
          type: string
          example: "9202110200000060280"
          description: Số hiệu lệnh
        execType:
          type: string
          example: NB
          description: Loại lệnh
        orderQtty:
          type: number
          format: double
          example: "2500.0"
          description: Khối lượng đặt
        execQtty:
          type: number
          format: double
          example: "0.0"
          description: Khối lượng khớp
        codeID:
          type: string
          example: null
          description: ""
        symbol:
          type: string
          example: HPG
          description: Mã chứng khoán
        priceType:
          type: string
          example: LO
          description: Loại giá
        txtime:
          type: string
          example: 14:15:34
          description: Giờ đặt lệnh
        txdate:
          type: string
          example: 2021-08-19T00:00:00.000+07:00
          description: "Ngày đặt lệnh. định dạng RFC 3339 "
        expDate:
          type: string
          example: 2021-08-19T00:00:00.000+07:00
          description: "Ngày hết hạn. định dạng RFC 3339 "
        timeType:
          type: string
          example: T
          description: |
            Loại thời gian hiệu lực:
            - `T`: Trong ngày
            - `G`: Nhiều ngày
          enum:
            - T
            - G
        orStatus:
          type: string
          example: "11"
          description: |
            Trạng thái lệnh hiển thị:
            - `0`: Từ chối
            - `2`: Đã gửi
            - `3`: Đã hủy
            - `4`: Đã khớp
            - `5`: Hết hiệu lực
            - `8`: Chờ gửi
            - `10`: Đã sửa
            - `11`: Đang gửi
            - `12`: Khớp hết
            - `A`: Đang sửa
            - `C`: Đang hủy
            - `S`: Hoàn tất
          enum:
            - "0"
            - "2"
            - "3"
            - "4"
            - "5"
            - "8"
            - "10"
            - "11"
            - "12"
            - A
            - C
            - S
        feeAcr:
          type: number
          example: "0.0"
          description: Phí
        limitPrice:
          type: number
          example: "25000.0"
          description: Giá đặt lệnh
        cancelQtty:
          type: number
          format: double
          example: "0.0"
          description: Khối lượng hủy
        remainQtty:
          type: number
          format: double
          example: "2500.0"
          description: ""
        via:
          type: string
          example: O
          description: |
            "Kênh giao dịch"
            - `T`: "Call margin"
            - `M`: "Tổng đài"
            - `O`: 'Online'
          enum:
            - T
            - M
            - O
        quotePrice:
          type: number
          example: "25000.0"
          description: Giá đặt lệnh
        matchPrice:
          type: number
          example: "0.0"
          description: Giá khớp trung bình của lệnh, làm tròn đến 2 số sau dấu phẩy
        tradePlace:
          type: string
          example: "005"
          description: |
            "Board đặt lệnh"
            - `005`: "UPCOM"
            - `002`: "HNX"
            - `001`: "HOSE"
            - `000`: "BOND"
          enum:
            - "005"
            - "002"
            - "001"
            - "000"
        matchType:
          type: string
          example: P
          description: |
            Loại khớp
            - `P`: "Thỏa thuận"
            - `N`: "Bình thường"
          enum:
            - P
            - N
        isDisposal:
          type: string
          example: Y
          description: là lệnh bán xử lý?
          enum:
            - Y
            - N
        isCancel:
          type: string
          example: Y
          description: |
            Cho phép hủy?
            - `Y`: "Có"
            - `N`: "Không"
          enum:
            - Y
            - N
        isAmend:
          type: string
          example: Y
          enum:
            - Y
            - N
          description: |
            Cho phép sửa?
            - `Y`: "Có"
            - `N`: "Không"
        userName:
          type: string
          example: "6868"
          enum:
            - "6868"
            - "8686"
          description: |
            userID đặt lệnh
            - `6868`: "Online"
            - `8686`: "Lệnh điều kiện, icopy"
        orsOrderID:
          type: string
          example: "9202110200000060280"
          description: Số hiệu lệnh
        sectype:
          type: string
          enum:
            - "001"
            - "002"
            - "003"
            - "005"
            - "006"
            - "007"
            - "008"
            - "009"
            - "011"
          example: "001"
          description: |
            - `001`: "Cổ phiếu thường"
            - `002`: "Cổ phiếu ưu đãi"
            - `003`: "Trái phiếu chuyển đổi"
            - `005`: "Tương lai"
            - `006`: "Trái phiếu"
            - `007`: "Chứng chỉ ủy thác"
            - `008`: "Chứng chỉ quỹ"
            - `009`: "Giấy chứng nhận TG"
            - `011`: "Chứng quyền"
        isFOOrder:
          type: string
          example: Y
          description: |
            Lệnh FO?
            - `Y`: "Lệnh sinh từ FO"
            - `N`: "Lệnh sinh từ BO"
          enum:
            - Y
            - N
        odTimeStamp:
          type: string
          example: 2021-10-20 14:15:34.000000
          description: Thời gian sinh lệnh
        matchAmount:
          type: number
          example: 0
          description: Giá trị khớp của lệnh.
        mmType:
          type: string
          example: null
        bRatio:
          type: number
          example: 100.03
          description: Tỷ lệ ký quỹ (bao gồm phí)
        taxSellAmout:
          type: number
          example: 0
    MarginQuotaResponse:
      type: object
      properties:
        custodyID:
          type: string
          description: Số tài khoản lưu ký của khách hàng
          example: 105C738764 #pragma: allowlist secret
        accountNo:
          type: string
          description: Số tiểu khoản của khách hàng
          example: "0001000075"
        aftype:
          type: string
          description: Loại hình hợp đồng mà tiểu khoản khách hàng đang được áp dụng
          example: "0075"
        vsdStatus:
          type: string
          description: Trạng thái active VSD của khách hàng
          example: Y
        accountStatus:
          type: string
          description: |
            - `A`: Được phép đặt lệnh   
            - `P`: Không được phép đặt lệnh
            - `C`: Đã đóng   
            - `B`: Phong tỏa
            - `N`: Chờ đóng   
            - `R`: Từ chối
            - `T`: Chờ cập nhật
          example: A
        marginLimit:
          type: number
          description: Hạn mức margin của tiểu khoản. Chỉ có giá trị với loại tiểu khoản
            là margin
          example: 0
        isIA:
          type: string
          description: |
            Tài khoản có kết nối IA hay không
            - `Y`: Có   
            - `N`: Không
          example: Y
        bankName:
          type: string
          description: Tên ngân hàng kết nối IA
          example: TCB
        bankAccount:
          type: string
          description: Số tài khoản kết nối IA
          example: "11520154590019"
        accountType:
          type: string
          description: |
            Loại tiểu khoản
            - `normal`: Tiểu khoản Thường
            - `margin`: Tiểu khoản Ký quỹ
            - `copier`: Tiểu khoản copier
            - `trader`: Tiểu khoản trader
            - `CHILD`: Tiểu khoản con
            - `CW`: Tiểu khoản CW dành cho tự doanh
            - `SPW`: Tiểu khoản eBond dành cho wealthtech
            - `SPT`: Tiểu khoản eBond dành cho tự doanh
          example: normal
    MarginAccountInforResponse:
      type: object
      properties:
        accountNo:
          type: string
          description: Số tiểu khoản
          example: 0001I97267
        riskPolicy:
          type: object
          properties:
            maintenanceMargin:
              type: number
              description: Tỷ lệ duy trì
              example: 80
            initialMargin:
              type: number
              description: Tỷ lệ ký quỹ ban đầu
              example: 100
            liquidationMargin:
              type: number
              description: Tỷ lệ cảnh báo
              example: 30
        rtt:
          type: number
          description: Rtt thực tế
          example: 99.95
        outstanding:
          type: number
          description: Tổng nợ gốc
          example: 8858766677
        accruedInterest:
          type: number
          description: Tổng nợ lãi
          example: 18638724
        dueAmount:
          type: number
          description: Nợ đến hạn
          example: 34621881
        overdueAmount:
          type: number
          description: Nợ quá hạn
          example: 34621881
        riskStatus:
          type: object
          properties:
            code:
              type: string
              description: Trạng thái RTT
              example: SAFE
            description:
              type: string
              description: Mô tả trạng thái RTT
              example: An toàn
        totalFeeDebt:
          type: number
          description: Tổng nợ phí (Phí marginsure)
          example: 8885876
    SupplementaryLoanPackageResponse:
      type: object
      properties:
        marginSureViews:
          type: array
          items:
            properties:
              id:
                type: number
                description: Id gói marginsure
                example: 37
              name:
                type: string
                description: Tên gói marginsure
                example: Phòng ngự_E2E
              code:
                type: string
                description: Mã gói marginsure
                example: MRX_INSURANCE_PREMIUM
              subscriptionFee:
                type: number
                description: Phí tham gia
                example: 0.12
              status:
                type: string
                description: Trạng thái khách hàng đang đăng ký gói nào
                example: INACTIVE
              proposals:
                type: array
                items:
                  properties:
                    id:
                      type: number
                      description: Id điều khoản gói marginsure
                      example: 82
                    marginInsuranceId:
                      type: number
                      description: Id gói marginsure
                      example: 37
                    interestAdjustmentValue:
                      type: number
                      description: Ngưỡng tăng/ giảm giá vốn của khoản vay theo điều khoản gói
                        marginsure
                      example: -2.5
                    interestPercentThreshold:
                      type: number
                      description: Ngưỡng tăng/ giảm lãi suất của khoản vay theo điều khoản của gói
                        marignsure
                      example: -3
                    thresholdType:
                      type: string
                      description: Loại điều chỉnh lãi
                      example: LOWER
              default:
                type: bool
                description: ""
                example: true
        tplus:
          type: object
          properties:
            data:
              type: array
              items:
                properties:
                  firstRate:
                    type: number
                    description: Lãi suất bậc 1 của gói T+
                    example: 5
                  id:
                    type: number
                    description: ID gói T+
                    example: 153
                  name:
                    type: string
                    description: Tên gói T+
                    example: E2E MARGIN T5
                  status:
                    type: string
                    description: Trạng thái khách haàng đang đăng ký gói T+
                    example: ACTIVE
                  undueInterestType:
                    type: string
                    description: Loại lãi suất của gói T+
                    example: LADDER
                  undueLadderValue:
                    type: array
                    items:
                      properties:
                        id:
                          type: number
                          description: id của bậc lãi suất T+
                          example: 199
                        rate:
                          type: number
                          description: Lãi suất bậc 1/ bậc 2 của gói T+
                          example: 5
                        startDate:
                          type: number
                          description: Ngày bắt đầu lãi suất bậc 1/ bậc 2
                          example: 1
                        dueDate:
                          type: number
                          description: Ngày kết thúc lãi suất bậc 1
                          example: 5
                  overdueInterest:
                    type: number
                    description: Lãi suất quá hạn
                    example: 150
                  extensionInterest:
                    type: number
                    description: Lãi suất gia hạn khi thanh toán lãi
                    example: 0
                  extensionInterestBeforeInterestSettlement:
                    type: number
                    description: Lãi suất gia hạn khi chưa thanh toán lãi
                    example: 0
                  iwealthPartnerInterest:
                    type: number
                    description: Lãi suất của iwealth partner
                    example: 0
                  interestCalculationBasis:
                    type: number
                    description: Cơ sở tính lãi
                    example: 354
                  undueFee:
                    type: number
                    description: Phí giải ngân
                    example: 0
                  overdueFee:
                    type: number
                    description: Phí quá hạn
                    example: 0
                  extensionFee:
                    type: number
                    description: Phí gia hạn
                    example: 0
                  debtCollectionFee:
                    type: number
                    description: Phí thu nợ
                    example: 0
                  description:
                    type: string
                    description: Mô tả
                    example: Chính sách giá cho chương trình T5
                  validFrom:
                    type: string
                    description: Ngày hiệu lực gói
                    example: 2024-05-06
                  createdAt:
                    type: string
                    description: Ngày tạo gói
                    example: 2022-10-05 14:07:20
                  updatedAt:
                    type: string
                    description: Ngày cập nhật gói
                    example: 2024-05-06 11:40:52
                  discountable:
                    type: bool
                    description: Chính sách có được discount không
                    example: false
                  minRateConstraint:
                    type: bool
                    description: Chính sách có check mới lãi suất tối thiểu không
                    example: false
    LoanResponse:
      type: object
      properties:
        size:
          type: number
          description: ""
          example: 10
        content:
          type: array
          items:
            type: object
            properties:
              openingDate:
                type: string
                description: ""
                example: 2024-09-06
              dueDate:
                type: string
                description: ""
                example: 2024-12-04
              renewTime:
                type: number
                description: Số lần đã gia hạn nợ
                example: 0
              maxRenewTime:
                type: number
                description: Giới hạn số lần gia hạn nợ
                example: 1
              isRenewable:
                type: boolean
                description: |
                  Có được gia hạn nợ không
                    - true: có
                    - false: không
                example: false
              reasonList:
                type: array
                description: Lý do không được gia hạn nợ
                items:
                  type: string
                  example: Chưa đến ngày xin gia hạn
              addons:
                type: array
                items:
                  type: object
                  properties:
                    loanId:
                      type: number
                      description: Mã khoản vay
                      example: 10000902
                    discounts:
                      type: array
                      items:
                        type: object
                        properties:
                          code:
                            type: string
                            description: Mã chương trình Dynamic margin
                            example: DYNAMIC_MARGIN
                          origDiscountLoanAmt:
                            type: number
                            description: Gốc tính lãi Dynamic margin
                            example: 9090909090
                          remainDiscountLoanAmt:
                            type: number
                            description: Gốc còn lại tính lãi Dynamic margin
                            example: 9090909
                          preferentialRate:
                            type: number
                            description: Lãi suất Dynamic margin
                            example: 12
                          startDate:
                            type: string
                            description: Ngày bắt đầu ưu đãi Dynamic margin
                            example: 2023-10-10
                          endDate:
                            type: string
                            description: Ngày kết thúc ưu đãi Dynamic margin
                            example: 2023-10-30
                    others:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Tên chính sách giá ưu đãi
                            example: MRX_HYPERDISCOUNT
                          code:
                            type: string
                            description: Mã chính sách giá ưu đãi
                            example: MRX_HYPERDISCOUNT
                          symbols:
                            type: array
                            description: Mã chứng khoán gán với khoản vay
                            items:
                              type: string
                              example: VNM
                          rate:
                            type: number
                            description: Lãi suất ưu đãi
                            example: -3
                          description:
                            type: string
                            description: Mô tả chính sách ưu đãi
                            example: null
              insurance:
                type: object
                properties:
                  insuranceName:
                    type: string
                    description: Tên gói marginsure
                    example: Phòng ngự
                  insuranceCode:
                    type: string
                    description: Mã gói marginsure
                    example: MRX_INSURANCE_PREMIUM_1
                  insuranceFee:
                    type: number
                    description: Phí marginsure
                    example: 0.15
                  interestPercentageUpperThreshold:
                    type: number
                    description: Ngưỡng tăng giá vốn của khoản vay theo điều khoản gói marginsure
                    example: null
                  interestPercentageLowerThreshold:
                    type: number
                    description: Ngưỡng giảm giá vốn của khoản vay theo điều khoản gói marginsure
                    example: -3
                  interestRateUpperAdjustmentValue:
                    type: number
                    description: Ngưỡng tăng lãi suất của khoản vay theo điều khoản của gói
                      marignsure
                    example: null
                  interestRateLowerAdjustmentValue:
                    type: number
                    description: Ngưỡng giảm lãi suất của khoản vay theo điều khoản của gói
                      marignsure
                    example: -3
                  originalInterest:
                    type: number
                    description: Lãi suất gốc của khoản vay
                    example: 9
                  loanId:
                    type: number
                    description: Mã khoản vay
                    example: 10000902
                  accountNo:
                    type: string
                    description: Số tiểu khoản
                    example: 0001H91219
                  symbol:
                    type: string
                    description: Mã chứng khoán được marignsure gán với khoản vay
                    example: VNM
                  adjustStrikePrice:
                    type: number
                    description: Giá vốn đã điều chỉnh
                    example: 96300
                  startDate:
                    type: string
                    description: Ngày bắt đầu marginsure
                    example: 2024-09-06
                  endDate:
                    type: string
                    description: Ngày kết thúc marginsure
                    example: 2024-12-04
                  increasePrice:
                    type: number
                    description: Giá chặn trên theo điều khoản của gói marginsure
                    example: 96300
                  decreasedPrice:
                    type: number
                    description: Giá chặn dưới theo điều khoản của gói marginsure
                    example: 93411
                  increasedInterest:
                    type: number
                    description: Lãi suất của khoản vay nếu giá tăng đạt ngưỡng giá chặn trên
                    example: 9
                  decreasedInterest:
                    type: number
                    description: Lãi suất của khoản vay nếu giá giảm đạt ngưỡng giá chặn dưới
                    example: 6
              symbol:
                type: string
                description: Mã chứng khoán gán với khoản vay
                example: VNM
              id:
                type: number
                description: Mã khoản vay
                example: 10000902
              accountNo:
                type: string
                description: Số tiểu khoản
                example: 0001H91219
              principal:
                type: number
                description: Gốc giải ngân
                example: 264006454
              remainingPrincipal:
                type: number
                description: Nợ gốc hiện tại
                example: 264006454
              interest:
                type: number
                description: Nợ lãi
                example: 303793
              rate:
                type: number
                description: Lãi suất (%)
                example: 9
              status:
                type: string
                description: Trạng thái khoản vay
                example: OPEN
              loanDays:
                type: number
                description: Kỳ hạn món vay còn lại
                example: 7
              mrxLoanId:
                type: number
                description: Mã món vay
                example: 10000902
              fee:
                type: number
                description: Nợ phí
                example: 396010
              undueLoanFee:
                type: number
                description: Phí marginsure
                example: 396010
              pricingPolicyType:
                type: string
                description: Loại khoản vay (T+)
                example: T_PLUS
    Response:
[...]
